PORT=
JWT_SECRET=
EMAIL_FROM=
EMAIL_FROM_NAME=

# AUTHN
RPNAME=
RPDOMAIN=
RPORIGIN=

# DB ENV VARIABLES
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSL=

FRONTEND_URL=

# Pusher Configuration
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

# Novu Configuration
NOVU_API_KEY=

# ZeptoMail & Resend Configuration
ZEPTO_MAIL_TOKEN=
RESEND_API_KEY=

# Cloudflare R2 Configuration
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_BUCKET=
R2_FOLDER=
R2_PUBLIC_URL=
