openapi: 3.1.0
info:
  title: TaskGid API
  description: API for the TaskGid task management application
  version: 1.0.0
  contact:
    name: TaskGid Support
    email: support@taskgid.com
servers:
  - url: https://api.taskgid.com/v1
    description: Production server
  - url: http://localhost:3000/v1
    description: Local development server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the user
        firstName:
          type: string
          description: User's first name
        lastName:
          type: string
          description: User's last name
        email:
          type: string
          format: email
          description: User's email address
        username:
          type: string
          description: User's username
        profilePicture:
          type: string
          description: URL to the user's profile picture
        registrationSource:
          type: string
          enum: [invite, self]
          description: How the user registered.
        invitedBy:
          type: string
          format: uuid
          description: ID of the user who initially invited this user to the platform (if applicable).
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: When the user was created
        updatedAt:
          type: string
          format: date-time
          description: When the user was last updated
    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the workspace
        title:
          type: string
          description: Name of the workspace
        slug:
          type: string
          description: URL-friendly identifier for the workspace
        description:
          type: string
          description: Description of the workspace
        userId:
          type: string
          format: uuid
          description: ID of the user who created the workspace
        user:
          $ref: '#/components/schemas/User'
        createdAt:
          type: string
          format: date-time
          description: When the workspace was created
        updatedAt:
          type: string
          format: date-time
          description: When the workspace was last updated
    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the task
        title:
          type: string
          description: Title of the task
        description:
          type: string
          description: Description of the task
        status:
          type: string
          enum: [TODO, IN_PROGRESS, REVIEW, DONE]
          description: Current status of the task
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, URGENT]
          description: Priority level of the task
        dueDate:
          type: string
          format: date-time
          description: Due date for the task
        workspaceId:
          type: string
          format: uuid
          description: ID of the workspace this task belongs to
        createdById:
          type: string
          format: uuid
          description: ID of the user who created the task
        assignees:
          type: array
          items:
            $ref: '#/components/schemas/User'
        creator:
          $ref: '#/components/schemas/User'
        createdAt:
          type: string
          format: date-time
          description: When the task was created
        updatedAt:
          type: string
          format: date-time
          description: When the task was last updated
    Comment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the comment
        content:
          type: string
          description: Content of the comment
        taskId:
          type: string
          format: uuid
          description: ID of the task this comment belongs to
        userId:
          type: string
          format: uuid
          description: ID of the user who created the comment
        user:
          $ref: '#/components/schemas/User'
        createdAt:
          type: string
          format: date-time
          description: When the comment was created
        updatedAt:
          type: string
          format: date-time
          description: When the comment was last updated
    Invite:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the invite
        email:
          type: string
          format: email
          description: Email address of the invited user
        token:
          type: string
          description: Unique token for the invite
        used:
          type: boolean
          description: Whether the invite has been used
        workspaceId:
          type: string
          format: uuid
          description: ID of the workspace the user is invited to
        invitedById:
          type: string
          format: uuid
          description: ID of the user who sent this specific invite.
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: When the invite was created
        updatedAt:
          type: string
          format: date-time
          description: When the invite was last updated
    WorkspaceTeamMember:
       allOf:
         - $ref: '#/components/schemas/User'
         - type: object
           properties:
             role:
               type: string
               enum: [creator, admin, member]
               description: The user's role within this specific workspace.
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        success:
          type: boolean
          description: Always false for error responses
    Pagination:
      type: object
      properties:
        total: { type: integer }
        page: { type: integer }
        limit: { type: integer }
        totalPages: { type: integer }
        hasNextPage: { type: boolean }
        hasPrevPage: { type: boolean }
    PaginatedWorkspacesResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
        data:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        pagination:
          $ref: '#/components/schemas/Pagination'
    PaginatedTeamResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
        data:
          type: array
          items:
            $ref: '#/components/schemas/WorkspaceTeamMember'
        pagination:
          $ref: '#/components/schemas/Pagination'
    Attachment:
      type: object
      properties:
        id: { type: string, format: uuid }
        filename: { type: string, description: "Path or key used by storage provider" }
        originalname: { type: string, description: "Original name of the uploaded file" }
        mimetype: { type: string }
        size: { type: integer, description: "Size in bytes" }
        path: { type: string, description: "Path/key used by storage provider (for deletion)" }
        url: { type: string, description: "Publicly accessible URL" }
        storageType: { type: string, description: "Type of storage used (e.g., local, s3, cloudinary)" }
        taskId: { type: string, format: uuid, nullable: true }
        commentId: { type: string, format: uuid, nullable: true }
        userId: { type: string, format: uuid, description: "ID of the uploader" }
        user: { $ref: '#/components/schemas/User', description: "Basic uploader info (populated on GET)" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
  responses:
    UnauthorizedError:
      description: Unauthorized (invalid/missing token)
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
    ForbiddenError:
      description: Forbidden (insufficient permissions)
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
    NotFoundError:
      description: Resource not found
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
    BadRequestError:
      description: Bad Request (validation error, conflict, etc.)
      content:
        application/json: { schema: { $ref: '#/components/schemas/Error' } }
paths:
  /auth/register:
    post:
      summary: Register a new user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - email
                - password
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                username:
                  type: string
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
                  accessToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
                  refreshToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/login:
    post:
      summary: Login a user
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
                  accessToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
                  refreshToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      summary: Refresh access token
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  accessToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
        '401':
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      summary: Logout a user
      tags:
        - Authentication
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Logout successful
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/authn/request:
    post:
      summary: Request login with WebAuthn
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: WebAuthn options generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  options:
                    type: object
                    description: WebAuthn options
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/authn/verify:
    post:
      summary: Verify WebAuthn response
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - credential
              properties:
                credential:
                  type: object
                  description: WebAuthn credential
      responses:
        '200':
          description: WebAuthn verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
                  accessToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
                  refreshToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
        '401':
          description: Invalid WebAuthn response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/profile:
    get:
      summary: Get user profile
      tags:
        - User Management
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update user profile
      tags:
        - User Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                username:
                  type: string
      responses:
        '200':
          description: User profile updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/profile/picture:
    put:
      summary: Update user profile picture
      tags:
        - User Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Profile picture updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/authn:
    get:
      summary: Get user's WebAuthn credentials
      tags:
        - User Management
      security:
        - BearerAuth: []
      responses:
        '200':
          description: WebAuthn credentials retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  authns:
                    type: array
                    items:
                      $ref: '#/components/schemas/Authn'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/authn/generate:
    post:
      summary: Generate WebAuthn registration options
      tags:
        - User Management
      security:
        - BearerAuth: []
      responses:
        '200':
          description: WebAuthn options generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  options:
                    type: object
                    description: WebAuthn options
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/authn/verify:
    post:
      summary: Verify WebAuthn registration
      tags:
        - User Management
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - credential
              properties:
                credential:
                  type: object
                  description: WebAuthn credential
      responses:
        '200':
          description: WebAuthn verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  authn:
                    $ref: '#/components/schemas/Authn'
        '401':
          description: Invalid WebAuthn response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/authn/{id}:
    delete:
      summary: Remove a WebAuthn credential
      tags:
        - User Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: WebAuthn credential removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: WebAuthn credential removed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces:
    get:
      summary: Get user's workspaces (paginated)
      description: Returns workspaces the user is a member, admin, or creator of.
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: List of workspaces user is a member of.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorkspacesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      summary: Create a new workspace
      description: Creates a new workspace and sets the requestor as the creator.
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
                slug: { type: string, description: "Optional. Auto-generated if missing." }
                description: { type: string }
      responses:
        '201':
          description: Workspace created successfully (creator added as admin).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  workspace: { $ref: '#/components/schemas/Workspace' }
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /workspaces/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the workspace.
    get:
      summary: Get workspace details by ID
      description: Returns details for a workspace if the user is a member, admin, or creator.
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Workspace details (owner included, team excluded).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      summary: Update workspace details
      description: Updates workspace title, slug, or description. **Creator only.**
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                slug: { type: string }
                description: { type: string }
      responses:
        '200':
          description: Workspace updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  workspace: { $ref: '#/components/schemas/Workspace' }
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      summary: Delete a workspace
      description: Permanently deletes a workspace. **Creator only.**
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Workspace deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean, example: true } }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /workspaces/{id}/team:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the workspace.
    get:
      summary: Get workspace team members (paginated)
      description: Returns the list of members (including their roles) for a workspace the user is part of.
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 10 }
      responses:
        '200':
          description: Paginated list of team members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTeamResponse'
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    post:
      summary: Add a team member
      description: Adds an *existing* user (by email) to the workspace with the 'member' role. **Creator or Admin only.** (Use invite flow for new users).
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '201':
          description: Team member added successfully.
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean, example: true }, message: { type: string } }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /workspaces/{id}/team/{userIdToRemove}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Workspace ID.
      - name: userIdToRemove
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: User ID of the member to remove.
    delete:
      summary: Remove a team member
      description: Removes a user from the workspace. **Creator or Admin only.** Admins cannot remove other admins or the creator.
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Team member removed successfully.
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean, example: true }, message: { type: string } }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /workspaces/{id}/admins/{userId}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Workspace ID.
      - name: userId
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: User ID of the member to manage admin role.
    post:
      summary: Promote a team member to admin
      description: Changes a member's role from 'member' to 'admin'. **Creator only.**
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Member promoted to admin successfully.
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean, example: true }, message: { type: string } }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    delete:
      summary: Demote a team member from admin
      description: Changes an admin's role from 'admin' to 'member'. **Creator only.** Cannot demote the creator.
      tags:
        - Workspaces
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Member demoted from admin successfully.
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean, example: true }, message: { type: string } }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /workspaces/{slug}:
    get:
      summary: Get a specific workspace
      tags:
        - Workspace Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  workspace:
                    $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a workspace
      tags:
        - Workspace Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                slug:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Workspace updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  workspace:
                    $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a workspace
      tags:
        - Workspace Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/team:
    get:
      summary: Get workspace team members
      tags:
        - Workspace Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Team members retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  team:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/tasks:
    get:
      summary: Get all tasks in a workspace
      tags:
        - Task Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Task'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new task
      tags:
        - Task Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                description:
                  type: string
                status:
                  type: string
                  enum: [TODO, IN_PROGRESS, REVIEW, DONE]
                priority:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, URGENT]
                dueDate:
                  type: string
                  format: date-time
                assignees:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  task:
                    $ref: '#/components/schemas/Task'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/tasks/{taskId}:
    get:
      summary: Get a specific task
      tags:
        - Task Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  task:
                    $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update a task
      tags:
        - Task Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                status:
                  type: string
                  enum: [TODO, IN_PROGRESS, REVIEW, DONE]
                priority:
                  type: string
                  enum: [LOW, MEDIUM, HIGH, URGENT]
                dueDate:
                  type: string
                  format: date-time
                assignees:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  task:
                    $ref: '#/components/schemas/Task'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a task
      tags:
        - Task Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/tasks/{taskId}/comments:
    get:
      summary: Get all comments for a task
      tags:
        - Comment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Comments retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Comment'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Add a comment to a task
      tags:
        - Comment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
      responses:
        '201':
          description: Comment added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  comment:
                    $ref: '#/components/schemas/Comment'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/tasks/{taskId}/comments/{commentId}:
    put:
      summary: Update a comment
      tags:
        - Comment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Comment updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  comment:
                    $ref: '#/components/schemas/Comment'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a comment
      tags:
        - Comment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Comment deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Comment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/tasks/{taskId}/attachments:
    get:
      summary: Get all attachments for a task
      tags:
        - Attachment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Attachments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  attachments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attachment'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Upload an attachment to a task
      tags:
        - Attachment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Attachment uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  attachment:
                    $ref: '#/components/schemas/Attachment'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/tasks/{taskId}/attachments/{attachmentId}:
    delete:
      summary: Delete an attachment
      tags:
        - Attachment Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Attachment deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Attachment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{slug}/comments/{commentId}/attachments:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Workspace ID (associated with the comment).
      - name: commentId
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: Comment ID.
    get:
      summary: Get attachments for a comment
      tags: [Attachments]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of attachments for the comment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  attachments: { type: array, items: { $ref: '#/components/schemas/Attachment' } }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
    post:
      summary: Upload an attachment to a comment
      tags: [Attachments]
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Attachment uploaded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  attachment: { $ref: '#/components/schemas/Attachment' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /attachments/{attachmentId}:
    parameters:
      - name: attachmentId
        in: path
        required: true
        schema: { type: string, format: uuid }
        description: The ID of the attachment to delete.
    delete:
      summary: Delete an attachment
      tags: [Attachments]
      security:
        - BearerAuth: []
      description: Deletes an attachment. Requires user to be the uploader or workspace admin/creator.
      responses:
        '200':
          description: Attachment deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean, example: true }, message: { type: string } }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
  /workspaces/{slug}/invites:
    post:
      summary: Invite a user to a specific workspace
      description: Sends an invitation email to a user to join the workspace. **Creator or Admin only.**
      tags:
        - Invite Management
      security:
        - BearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Invite sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invite:
                    $ref: '#/components/schemas/Invite'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invites/{token}:
    get:
      summary: Get invite details
      tags:
        - Invite Management
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  invite:
                    $ref: '#/components/schemas/Invite'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Accept an invite
      tags:
        - Invite Management
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - firstName
                - lastName
                - password
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                password:
                  type: string
                  format: password
                username:
                  type: string
      responses:
        '200':
          description: Invite accepted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
                  accessToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
                  refreshToken:
                    type: object
                    properties:
                      token:
                        type: string
                      expires:
                        type: string
                        format: date-time
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications:
    get:
      summary: Get all notifications for the current user
      tags:
        - Notification Management
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /notifications/{id}:
    put:
      summary: Mark a notification as read
      tags:
        - Notification Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification marked as read successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  notification:
                    $ref: '#/components/schemas/Notification'
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a notification
      tags:
        - Notification Management
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Notification deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# END OF FILE 